/************************************
******* MOVILES PEQUEÑOS *************
 ************************************/
.carousel {
    height:     50%;
}

.item,
.active,
.carousel-inner {
    height:     100%;
}

.fill {
    width:                  100%;
    height:                 100%;
    background-position:    center;
    background-size:        cover;
}

.divImagenesHome{
    display:    none;
}

.divImagenesHomeMoviles{
    display:    inherit;
}


/*************************************
****** MOVILES GRANDES - VERTICAL ****
*************************************/

@media (min-width: 820px) and (orientation: portrait){

    .divImagenesHome{
        display: none;
    }

    .divImagenesHomeMoviles{
        display: inherit;
    }

}

/*********************************************
** MOVILES GRANDES - HORIZONTAL Y TABLETS ****
**********************************************/

@media(min-width: 820px) and (orientation: landscape){

    .divImagenesHome{
        display: none;
    }

    .divImagenesHomeMoviles{
        display: inherit;
    }
}

/*********************************************
****** PANTALLA ESCRITORIO TAMAÑO NORMAL *****
**********************************************/

@media (min-width: 992px) {

    .divImagenesHome{
        display: inherit;
    }

    .divImagenesHomeMoviles{
        display: none;
    }
}

/***************************************
****** PANTALLA ESCRITORIO GRANDES *****
****************************************/

@media (min-width: 1200px) {

    .divImagenesHome{
        display: inherit;
    }

    .divImagenesHomeMoviles{
        display: none;
    }

}